.image_select_list
  - @images.each do |image|
    = data_tag_for_image(image)
  = inline_radio_buttons :image, image_tags_and_ids(@images), 
    onchange: "updatePreview();",
    selected: false
  .clear
    = pagination_links @images, 
      params: {controller: :assets, action: :new}, 
      renderer: ::LinkRenderer::ModalAjax
