- content_for :dom_loaded do
  showTabByHash();
#group_home_wiki_area
  .p.shy_parent{class: first(:heading)}
    - if may_update?(@group)
      = link_to :edit.t, group_wikis_path(@group),
        icon: :pencil,
        class: 'shy edit',
        data: {preserve: :fragment}
    = group_wiki_heading_or_toggles

  - if @private_wiki.present?
    #private_panel.tab_content
      = render template: "wiki/wikis/show", locals: {wiki: @private_wiki}
  - if @public_wiki.present?
    #public_panel.tab_content{style: ("display: none" if @private_wiki.present?)}
      = render template: "wiki/wikis/show", locals: {wiki: @public_wiki}
