<%= I18n.t("mailer.page_histories.pages_you_are_watching_have_been_modified", count: count) %>

<%= I18n.t("mailer.page_histories.we_leave_out_details") %>
<%-# I18n.t("mailer.page_histories.upload_your_public_pgp_key") %>

<%= I18n.t("mailer.page_histories.you_can_find_updates_here") %>
  <%= "http://#{@site.domain}/me" %>
