- # Expects the following locals:
- #   item - a new active record element of the item to create
- #   url  - a url to submit the form to
- # You can also yield additional form elements.
- # for an example see
- #   /extensions/pages/task_list_page/app/views/tasks/_new.html.haml
:ruby
  type = model_name_from_record_or_class(item).i18n_key if type.blank?
  label = I18n.t("actions.#{type}.add")

%div[item]
  .space-ui[item, :link]
    = link_to_toggle(label, dom_id(item, :form) + '_new', class: 'btn btn-default')
  .space-ui[item, :form]{style: 'display: none'}
    = form_for item, url: url, remote: true, html: {data: {clear: true}} do |f|
      %p= f.text_field 'name',
        class: "#{type}_name form-control",
        placeholder: :description.t
      %p= f.text_area  'description',
        rows: '4',
        class: "#{type}_description form-control",
        placeholder: :details.t
      = yield if block_given?
      .buttons
        %button.btn.btn-success{data: {"disable-with" => label}}
          = label
        = spinner

