- may_approve = request.pending? && request.may_judge?(current_user)
- may_destroy = request.may_destroy?(current_user)
- if may_approve or may_destroy
  - approve_url = request_path(request, state: current_state, mark: 'approve')
  - reject_url = request_path(request, state: current_state, mark: 'reject')

  .p.first= display_request(request, short: true)

  .buttons
    - # APPROVAL / REJECTION
    - if may_approve
      = button_to :approve.t, approve_url,
        class: 'btn btn-success',
        method: :put,
        remote: true
      = button_to :reject.t, reject_url,
        class: 'btn btn-danger',
        method: :put,
        remote: true

    - # DESTRUCTION
    - if may_destroy
      = button_to :delete_thing.t(thing: :request.t), request_path(request),
        class: 'btn btn-default',
        method: :delete,
        remote: true

    = spinner
