%div.icon.small{style: avatar_style(request.icon_entity, 'small')}
  = I18n.t request.name, count: 1
  %br
  = embold_links do
    - key, options = request.description
    - translate key, **options
  %i=# friendly_date(request.created_at)
