- @local_layout = 'sidecolumn'

- #
- # PAGE SIDEBAR
- #
- content_for(:right_column) do
  %nav#sidebar
    = render 'page/sidebar/sidebar'

- #
- # PAGE TITLEBOX
- #
- # #title_box handles color & border
- # #title handles text & padding
- #
- content_for(:before_content) do
  #title_box{class: [(@options.show_tabs ? 'with_tabs' : ''), 'round', 'page']}
    = render "common/pages/title"
    - if @options.show_tabs
      = render "#{@page.controller}/tabs"

- #
- # PAGE CONTENT
- #
- content_for(:content) do
  = yield
  - if @options.show_posts
    = render 'common/posts/list', remote: true

= render template: 'layouts/application'
